<a href="https://colab.research.google.com/github/alessiomongoli/Sentiment_Lexicon/blob/main/Experiment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from nltk import RegexpTokenizer
import re
from bs4 import BeautifulSoup

In [2]:
def preprocessing_IMDB(path):
    df = pd.read_csv(path)
    tokenizer = RegexpTokenizer(r'\w+')
    df['review'] = df['review'].apply(lambda x: remove_html_tags(x))
    df['review'] = df['review'].apply(lambda x: x.lower())
    df['review'] = df['review'].apply(lambda x: tokenizer.tokenize(x))
    df['sentiment'] = df['sentiment'].map({'positive':1, 'negative': -1 })
    return df

In [3]:
path='/content/drive/MyDrive/Github/Colab Notebooks/project/IMDB-Dataset.csv'

In [4]:
def remove_html_tags(text):
    """Remove html tags from a string"""
    import re
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [5]:
df = preprocessing_IMDB(path)

In [6]:
df

                                                  review  sentiment
0      one of the other reviewers has mentioned that ...          1
1      a wonderful little production. the filming tec...          1
2      i thought this was a wonderful way to spend ti...          1
3      basically there's a family where a little boy ...         -1
4      petter mattei's "love in the time of money" is...          1
...                                                  ...        ...
49995  i thought this movie did a down right good job...          1
49996  bad plot, bad dialogue, bad acting, idiotic di...         -1
49997  i am a catholic taught in parochial elementary...         -1
49998  i'm going to have to disagree with the previou...         -1
49999  no one expects the star trek movies to be high...         -1

[50000 rows x 2 columns]