<a href="https://colab.research.google.com/github/alessiomongoli/Sentiment_Lexicon/blob/main/PreprocessingTweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
path = '/content/drive/MyDrive/Github/Colab Notebooks/project/Tweets.csv'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv(path)
df

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [ ]:
df.columns

Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline',
       'airline_sentiment_gold', 'name', 'negativereason_gold',
       'retweet_count', 'text', 'tweet_coord', 'tweet_created',
       'tweet_location', 'user_timezone'],
      dtype='object')

In [ ]:
df = df.drop(columns=['tweet_id', 'airline_sentiment_confidence', 'negativereason', 'negativereason_confidence', 'airline', 'airline_sentiment_gold', 'name', 'negativereason_gold','retweet_count', 'tweet_coord', 'tweet_created', 'tweet_location', 'user_timezone'])

In [ ]:
df = df[df['airline_sentiment'] != 'neutral']

In [ ]:
df=df.dropna().reset_index(drop=True)
df

      airline_sentiment                                               text
0              positive  @VirginAmerica plus you've added commercials t...
1              negative  @VirginAmerica it's really aggressive to blast...
2              negative  @VirginAmerica and it's a really big bad thing...
3              negative  @VirginAmerica seriously would pay $30 a fligh...
4              positive  @VirginAmerica yes, nearly every time I fly VX...
...                 ...                                                ...
11536          negative  @AmericanAir my flight was Cancelled Flightled...
11537          negative         @AmericanAir right on cue with the delays👌
11538          positive  @AmericanAir thank you we got on a different f...
11539          negative  @AmericanAir leaving over 20 minutes Late Flig...
11540          negative  @AmericanAir you have my money, you change my ...

[11541 rows x 2 columns]

In [ ]:
df = df.rename(columns = {'text':'review', 'airline_sentiment':'sentiment'})

In [ ]:
df['sentiment'] = df['sentiment'].map({'positive':1, 'negative': -1 })
df['sentiment'] = df['sentiment'].astype('int')

In [ ]:
df

       sentiment                                             review
0              1  @VirginAmerica plus you've added commercials t...
1             -1  @VirginAmerica it's really aggressive to blast...
2             -1  @VirginAmerica and it's a really big bad thing...
3             -1  @VirginAmerica seriously would pay $30 a fligh...
4              1  @VirginAmerica yes, nearly every time I fly VX...
...          ...                                                ...
11536         -1  @AmericanAir my flight was Cancelled Flightled...
11537         -1         @AmericanAir right on cue with the delays👌
11538          1  @AmericanAir thank you we got on a different f...
11539         -1  @AmericanAir leaving over 20 minutes Late Flig...
11540         -1  @AmericanAir you have my money, you change my ...

[11541 rows x 2 columns]

In [ ]:
import re

def deEmojify(text):
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags = re.UNICODE)
    return regrex_pattern.sub(r'',text)

In [ ]:
def cleaning_tweets(tweet):
  clean_tweet = re.sub("@[A-Za-z0-9_]+","", tweet)
  clean_tweet = re.sub("#[A-Za-z0-9_]+","", clean_tweet)

  return clean_tweet

In [ ]:
df['review'] = df['review'].apply(lambda x: deEmojify(x))
df['review'] = df['review'].apply(lambda x: cleaning_tweets(x))
df

       sentiment                                             review
0              1   plus you've added commercials to the experien...
1             -1   it's really aggressive to blast obnoxious "en...
2             -1           and it's a really big bad thing about it
3             -1   seriously would pay $30 a flight for seats th...
4              1   yes, nearly every time I fly VX this “ear wor...
...          ...                                                ...
11536         -1   my flight was Cancelled Flightled, leaving to...
11537         -1                       right on cue with the delays
11538          1   thank you we got on a different flight to Chi...
11539         -1   leaving over 20 minutes Late Flight. No warni...
11540         -1   you have my money, you change my flight, and ...

[11541 rows x 2 columns]

In [ ]:
df2 = df[df.sentiment == 1]

In [ ]:
df2

       sentiment                                             review
0              1   plus you've added commercials to the experien...
4              1   yes, nearly every time I fly VX this “ear wor...
5              1                   Well, I didn't…but NOW I DO! :-D
6              1   it was amazing, and arrived an hour early. Yo...
7              1   I &lt;3 pretty graphics. so much better than ...
...          ...                                                ...
11527          1   Love the new planes for the JFK-LAX run.  May...
11529          1   Flight 236 was great. Fantastic cabin crew. A...
11532          1  Thank you. “:  Customer Relations will review ...
11534          1                                     Thanks! He is.
11538          1   thank you we got on a different flight to Chi...

[2363 rows x 2 columns]

In [ ]:
df2 = df2.sample(frac=1).reset_index(drop=True)
df2

      sentiment                                             review
0             1   Glad it was finally resolved too. Too bad I c...
1             1                                        OMG FINALLY
2             1   and a HUGE thanks to the crew on flight 1348 ...
3             1   great flight! And great view! http://t.co/auF...
4             1   not worried, it's been a great ride in a new ...
...         ...                                                ...
2358          1   thank you for flying me out of the mess at IA...
2359          1   On re-accommodation number Lisa (Liza?) in Ra...
2360          1   listening center is open seating just like on...
2361          1                                          done thnx
2362          1                                          thanks :)

[2363 rows x 2 columns]

In [ ]:
df3 = df[df.sentiment == -1]

In [ ]:
df3

       sentiment                                             review
1             -1   it's really aggressive to blast obnoxious "en...
2             -1           and it's a really big bad thing about it
3             -1   seriously would pay $30 a flight for seats th...
11            -1                     SFO-PDX schedule is still MIA.
13            -1    I flew from NYC to SFO last week and couldn'...
...          ...                                                ...
11535         -1   thx for nothing on getting us out of the coun...
11536         -1   my flight was Cancelled Flightled, leaving to...
11537         -1                       right on cue with the delays
11539         -1   leaving over 20 minutes Late Flight. No warni...
11540         -1   you have my money, you change my flight, and ...

[9178 rows x 2 columns]

In [ ]:
df3 = df3.sample(frac=1).reset_index(drop=True)
df3

      sentiment                                             review
0            -1   I guess that's not the busiest route, so base...
1            -1   you can read the full story when I submit a c...
2            -1   is amazing how hard is to talk with customer ...
3            -1   Can someone please answer my call. I have bee...
4            -1   officially has the most inefficient boarding ...
...         ...                                                ...
9173         -1   would you like any additional details of my i...
9174         -1   lost my sunglasses &amp; case on a flight 393...
9175         -1   what's the point? So I can wait for another 6...
9176         -1   you call this a window seat?  http://t.co/ZKO...
9177         -1   your customer service is terrible, you're ter...

[9178 rows x 2 columns]

In [ ]:
df3 = df3[:2300]
df3

      sentiment                                             review
0            -1   I guess that's not the busiest route, so base...
1            -1   you can read the full story when I submit a c...
2            -1   is amazing how hard is to talk with customer ...
3            -1   Can someone please answer my call. I have bee...
4            -1   officially has the most inefficient boarding ...
...         ...                                                ...
2295         -1                            24 hours on the AirPort
2296         -1   that link is not helpful as it does not put m...
2297         -1  , thanks for not guarantee that you can not de...
2298         -1   your definition and mine of 10 min is vastly ...
2299         -1   been calling all morning. Still can't get thr...

[2300 rows x 2 columns]

In [ ]:
df2 = df2[:2300]
df2

      sentiment                                             review
0             1   Glad it was finally resolved too. Too bad I c...
1             1                                        OMG FINALLY
2             1   and a HUGE thanks to the crew on flight 1348 ...
3             1   great flight! And great view! http://t.co/auF...
4             1   not worried, it's been a great ride in a new ...
...         ...                                                ...
2295          1   OH YEAH!!! great flight down to Mexico with a...
2296          1                                       Looking cool
2297          1   she also appreciated having her very own hash...
2298          1   They let us know in advance of the reboot, ye...
2299          1              Great customer service again. Thanks!

[2300 rows x 2 columns]

In [ ]:
df = pd.concat([df2, df3])

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df

      sentiment                                             review
0             1   Glad it was finally resolved too. Too bad I c...
1             1                                        OMG FINALLY
2             1   and a HUGE thanks to the crew on flight 1348 ...
3             1   great flight! And great view! http://t.co/auF...
4             1   not worried, it's been a great ride in a new ...
...         ...                                                ...
4595         -1                            24 hours on the AirPort
4596         -1   that link is not helpful as it does not put m...
4597         -1  , thanks for not guarantee that you can not de...
4598         -1   your definition and mine of 10 min is vastly ...
4599         -1   been calling all morning. Still can't get thr...

[4600 rows x 2 columns]

In [ ]:
df = df.sample(frac=1).reset_index(drop=True)
df

      sentiment                                             review
0             1   Shout-out to all the ground crews working in ...
1            -1   - have dinner reservations in a few minutes -...
2            -1   Stuck on the plane in Charlotte.  Going to mi...
3             1   Thanks Yup I'm all set.  It happens.   SLC gr...
4            -1   I really hope it departs. They said is becaus...
...         ...                                                ...
4595         -1           you're killing me!! always  from  to !!
4596          1   was just at T5 a little over a month ago.  yo...
4597         -1   the supervisor on situation- Stacey took all ...
4598         -1   the woman working the counter in philly at 63...
4599         -1   I have tried and you have failed. Still no wi...

[4600 rows x 2 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/Github/Colab Notebooks/project/Tweets_preprocessed_4600.csv', index=False)